[Unit]
Description=Start the Central Key Manager
DefaultDependencies=no

[Service]
Type=notify
ExecStart=/usr/bin/key-manager
Sockets=central-key-manager-api-storage.socket
Sockets=central-key-manager-api-control.socket
Sockets=central-key-manager-api-ocsp.socket

[Install]
WantedBy=multi-user.target
