[Socket]
ListenStream=/tmp/.central-key-manager-api-ocsp.sock
SocketMode=0777
SmackLabelIPIn=*
SmackLabelIPOut=@

Service=central-key-manager.service

[Unit]
Wants=central-key-manager.target
Before=central-key-manager.target

[Install]
WantedBy=sockets.target
