[Socket]
ListenStream=/tmp/.central-key-manager-api-encryption.sock
SocketMode=0777
SmackLabelIPIn=key-manager::api-encryption
SmackLabelIPOut=@

Service=central-key-manager.service

[Unit]
Wants=central-key-manager.target
Before=central-key-manager.target

[Install]
WantedBy=sockets.target
