[Unit]
Description=Start the Central Key Manager

[Service]
Type=notify
ExecStart=/usr/bin/key-manager
Sockets=central-key-manager-echo.socket
Sockets=central-key-manager-api-storage.socket
Seckets=central-key-manager-api-control.socket

[Install]
WantedBy=multi-user.target
