[Socket]
ListenStream=/tmp/.central-key-manager-api-control.sock
SockMode=0777
SmackLabelIpIn=ckm::api-control
SmackLabelIpOut=@

Service=central-key-manager.service

[Unit]
Wants=central-key-manager.target
Before=central-key-manager.target

[Install]
WantedBy=sockets.target
