[Socket]
ListenStream=/tmp/.central-key-manager-api-control.sock
SocketMode=0700

Service=central-key-manager.service

[Unit]
Wants=central-key-manager.target
Before=central-key-manager.target

[Install]
WantedBy=sockets.target
